{% extends "tracker/base.html" %}

{% block bodyid %}logged_out{% endblock %}
{% block title %}Logged out - SERP app{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            //Vertically center content
            var top_margin = ($(window).height() - $('#content').height())/2;
            top_margin = top_margin - 40;
            if (top_margin < 0) top_margin = 10;
            $('#content').css('margin-top', top_margin);
        });
    </script>
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div id="login_box"><!-- extra wrapper for centering -->

    <h2>Logged out of <a href="{% url home %}" class="logo">SERP app</a></h2>
    <p>
        <a href="{% url auth_login %}{% if request.META.HTTP_REFERER %}?next={{ request.META.HTTP_REFERER }}{% endif %}">Click here to login again</a>.<br />
        {% if request.META.HTTP_REFERER %}
        Or, <a href="{{ request.META.HTTP_REFERER }}">return to the previous page</a>.
        {% endif %}
    </p>
    
</div>
{% endblock %}

{% block footer %}{% endblock %}
