#Additional Settings for Local Environment:

#from settings import MIDDLEWARE_CLASSES, INSTALLED_APPS
##For django-debug-toolbar
#MIDDLEWARE_CLASSES.append('debug_toolbar.middleware.DebugToolbarMiddleware')
#INSTALLED_APPS.append('debug_toolbar')
#INTERNAL_IPS = ('127.0.0.1',)

#Additional Settings for Production Environment:

#DEBUG = False

#DATABASES = {
#    'default': {
#        'ENGINE': 'django.db.backends.', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
#        'NAME': '',                      # Or path to database file if using sqlite3.
#        'USER': '',                      # Not used with sqlite3.
#        'PASSWORD': '',                  # Not used with sqlite3.
#        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
#        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
#    }
#}

#EMAIL_HOST_USER = ''
#EMAIL_HOST_PASSWORD = ''

#GOOGLE_AJAX_API_KEY = ''
#RPXNOW_API_KEY = ''

